.btnNext{
    background-color: #3f51b5 !important;
    color: #fff !important;
    position: fixed;
   right: 0px;
   bottom: 0px;
}
.overAuto{overflow-y: auto;}
.team_div{position:relative; text-align: center; background-color: #fff; -webkit-box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08); box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08); border-radius: 5px;     padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;}
.team_div p{text-overflow: ellipsis;overflow: hidden;white-space: nowrap; font-size: 14px; margin: 0;text-align: left; padding-left: 15px; line-height: 30px;}
.singleChk{position: absolute;
    top: 0px;
    right: 20px;}
.singleChk ::ng-deep .mat-checkbox-layout{height: 100%; width: 100%;}
.singleChk ::ng-deep .mat-checkbox-inner-container{margin: 0 !important; position: absolute !important; right: 10px; top: 11px;}
/* .selectAllChk{position: unset; float: left; width: auto; padding-top: 12px;}
.selectAllChk ::ng-deep .mat-checkbox-layout{height: auto; width: auto;}
.selectAllChk ::ng-deep .mat-checkbox-inner-container{margin: 0 !important; position: relative !important;} */
.team_div img{height: 30px; width: 30px; border-radius: 10px; float: left;}
.teamList{background-color: #fff; padding:5px; box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);}
.teamTitle{background: #3f51b5; color: #fff; padding: 5px 0; text-align: center;}
.selectAllChk{    position: absolute;
    top: 0px;
    right: 30px;}
.selectAllChk ::ng-deep .mat-checkbox-frame{border-color: #fff; }
.btnGoScoreboard{
    left: 0;
    background-color: green !important;
    color: #fff !important;
    position: fixed;
    bottom: 0;
  
}
