<div class='w100 p15 fl h100'>
    <div class="label-form">
      <label>Add SMS Setting</label>
    </div>
    <div class="example-form">
      <div class="example-full-width" cellspacing="0">
        <mat-form-field class="example-full-width">
          <mat-label>Username</mat-label>
          <input matInput [(ngModel)]='txtUserName' required>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Password</mat-label>
          <input matInput type="password" [(ngModel)]='txtPassword'>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>SenderId</mat-label>
          <input matInput [(ngModel)]='txtsenderId' required>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Message</mat-label>
          <textarea matInput [(ngModel)]='txtmessage' required style="height: 200px;"></textarea>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Unicode</mat-label>
          <input matInput [(ngModel)]='txtUnicode' required>
        </mat-form-field>
    </div>
    </div>
    <div class='btn-div  ' style="position: absolute;
    right: 0px;
    padding: 15px;">
      <button mat-raised-button color="primary" class="btn-back" (click)="save()">
        Update Setting
      </button>
    </div>
    <div class="loader-div" *ngIf='isLoaderShow'>
      <mat-progress-spinner mode='indeterminate' diameter='50'>
      </mat-progress-spinner>
    </div>
  </div>
  