table {width: 100%; min-width: 800px;}
mat-form-field {font-size: 14px; width: 100%;}
.editbtn {background-color: #3f51b5; float: left; color: #f0f3f5; height: 20px; line-height: 21px; width: 65px; min-width: 65px;}
td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type, th.mat-header-cell:last-of-type {padding-left: 10px; padding-right: 10px; width: 65px;}
.mat-header-row {background-color: #3f51b5;}
.mat-header-cell{color: #fff; text-align: center; font-weight: 500;}
td.mat-cell, td.mat-footer-cell, th.mat-header-cell {padding-left: 10px;padding-right: 10px;}
.mat-cell, .mat-header-cell {border-right: 1px solid #ccc;}
.td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type {padding-left: 10px; padding-right: 10px;}
.searchtab {font-size: 14px; width: auto; height: 71px;
    top: 11px;  padding: 0px 20px; float: right; }
.oAuto{overflow: auto;}
.loader-div ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {stroke: #fff;}
.btn {
    background-color: green;
    color: #fff;
}
.button-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.searchmat{
    display: flex !important;
    flex-direction: column !important;
}