<div class="w100 fl p15">
    <div class="form-div">
      <mat-form-field class="example-full-width w100">
        <mat-label>Set Message</mat-label>
        <textarea matInput  placeholder="Display Message Here" style="height: 150px;" maxlength="200" [(ngModel)]="txtMessage"></textarea>
        <mat-hint align="end">{{txtMessage.length}} / 200</mat-hint>
      </mat-form-field>
      <button mat-raised-button color="primary" class='sendBtn mb20' (click)='send()'>Save</button>
    </div>
  </div>