.form-div{float: left; box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12); margin: auto; width: 100%;}
.loader-div ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {stroke: #fff;}
.btn{ background-color: green; right: 2px; float: right; top: 5px; color: #f0f3f5; height: 30px; width: 59px; font-size: 16px;}
.image{width: auto; margin: 1% 1%; float: left; position: relative;}
.image img{width: 150px; height: 150px; border: 1px solid #3f51b5;}
.delIcon {position: absolute; right: 1px; color: red; background: rgba(255,255,255,0.8); top: 1px; cursor: pointer; box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);}
.loader-div ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {stroke: #fff;}