<div class="w100 fl p15">
    <div class="mat-form-field mb20 w100" *ngIf='!isCropper'>
      <mat-grid-list cols="1" rowHeight="10:1">
        <mat-grid-tile>
            <div class="mat-form-fields mb20">
                <input type="file"(change)="fileChangeEvent($event)" id="file-upload">
                <label class="label-upload"><i class="fa fa-upload" aria-hidden="true"></i>Choose Image</label>
            </div>
        </mat-grid-tile>
        <mat-grid-tile style="    margin-top: calc((0% - 0px + 1px) * 1) !important;">
            <img *ngIf='galleryImage' [src]="galleryImage" class="image-after-crop" />
        </mat-grid-tile>
    </mat-grid-list>

      <br>
      <button mat-raised-button color="primary" class='sendBtn' (click)='save()'>Save</button>


    </div>
    <div *ngIf='isCropper' class="cropper-div" [ngStyle]="{'height': popupHeight}">
      <div class="cropper-sub-div">
        <button mat-button (click)='scalePlus()' class="scale-button plus-btn">
          <i class="material-icons">zoom_in</i>
        </button>
        <button mat-button (click)='scaleDown()' class="scale-button minus-btn">
          <i class="material-icons">zoom_out</i>
        </button>
        <button mat-button class="confirm-button" (click)='cropConfirm()'>Confirm</button>
        <img [src]="croppedImage" class='cropped-image' />
        <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" format="jpeg"
          [cropper]="cropper" [imageQuality]="70" [resizeToWidth]="256" [resizeToHeight]="256" [transform]="transform"
          (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()">
        </image-cropper>
      </div>
    </div>
  </div>