<div class='p15 w100 fl'>
    <div class="pushForm">
      <mat-form-field class='w100 mb20'>
        <mat-label>Message</mat-label>
        <textarea matInput [(ngModel)]='message' style="height: 180px;"></textarea>
      </mat-form-field>

      <button  mat-raised-button color="primary" (click)='send()' class="sendBtn">Send</button>
    </div>
  </div>
  <div class="loader-div" *ngIf='isLoaderShow'>
    <mat-progress-spinner mode='indeterminate' diameter='50'>
    </mat-progress-spinner>
  </div>