<div class='w100 p15 fl h100'>
    <div class='full-form mb20' *ngIf='!isCropper'>
        <div class="label-form">
            <label>Add Team Detail Form</label>
        </div>
        <mat-form-field>
            <input matInput placeholder="Team Name" [(ngModel)]="txtTeamName">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Team Type" [(ngModel)]="txtTeamType">
        </mat-form-field>
        <div class="mat-form-field mb20">
            <mat-grid-list cols="2" rowHeight="6:2">
                <mat-grid-tile>
                    <div class="mat-form-fields mb20">
                        <input type="file" (change)="fileChangeEvent($event, 'teamimg')" id="file-upload">
                        <label class="label-upload"><i class="fa fa-upload" aria-hidden="true"></i>Choose Team Image</label>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <img *ngIf='teamImage' [src]="teamImage" class="image-after-crop" />
                </mat-grid-tile>
            </mat-grid-list>
            <!-- <label>Team Image</label><br>
        <input type="file" (change)="fileChangeEvent($event, 'teamimg')" class='w100'>
        <img *ngIf='teamImage' [src]="teamImage" class="image-after-crop" /> -->
        </div>

        <div class="example-form">
            <div class="label-form" style=" height: 70px;">
                <label>Owner Information</label>
            </div>
            <mat-grid-list cols="2" rowHeight="4:2" >
                <mat-grid-tile>
                    <div class="mat-form-field mb20">
                        <input type="file" (change)="fileChangeEvent($event, 'ownerimg')" class='w100'>
                        <label  class="label-upload"><i class="fa fa-upload" aria-hidden="true"></i>Choose Owner Image</label>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <img *ngIf='ownerImage' [src]="ownerImage" class="image-after-crop" />
                </mat-grid-tile>
            </mat-grid-list>

            <div class="example-full-width" cellspacing="0">
                <mat-form-field class="example-full-width">
                    <mat-label>Owner name</mat-label>
                    <input matInput [(ngModel)]='txtOwnerName'>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Father Name</mat-label>
                    <input matInput [(ngModel)]='txtOwnerFatherName'>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Surname</mat-label>
                    <input matInput [(ngModel)]='txtOwnerSurname'>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Points</mat-label>
                    <input matInput type='number' [(ngModel)]='txtTeamPoint'>
                </mat-form-field>
            </div>
        </div>

        <div class="label-form">
            <label>Optional</label>
        </div>

        <div class="example-full-width" cellspacing="0">
            <mat-form-field class="example-full-width">
                <mat-label>Date OF Birth</mat-label>
                <input matInput [matDatepicker]="picker" (dateChange)="calculateAge($event)"
                    [(ngModel)]='txtOwnerBdate'>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Age</mat-label>
                <input matInput placeholder="Age" [value]='txtOwnerAge' disabled>
            </mat-form-field>
        </div>
        <mat-form-field class="example-full-width">
            <mat-label>Resident Address</mat-label>
            <textarea matInput placeholder="" [(ngModel)]="txtResidenceAddress"></textarea>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Resident Telephone</mat-label>
            <input matInput placeholder="" type='number' [(ngModel)]="txtResidenceTelephone">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Resident Mobile</mat-label>
            <input matInput placeholder="" type='number' [(ngModel)]="txtResidenceMobile">
        </mat-form-field>
        <div class="w100 mb20">
            <mat-checkbox (change)='sameAdd($event)'>Same Address ?</mat-checkbox>
        </div>
        <mat-form-field class="example-full-width">
            <mat-label>Office Address</mat-label>
            <textarea matInput [(ngModel)]='txtOfficeAddress'></textarea>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Office Telephone</mat-label>
            <input matInput placeholder="" type='number' [(ngModel)]='txtOfficeTelephone'>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Office Mobile</mat-label>
            <input matInput placeholder="" type='number' [(ngModel)]='txtOfficeMobile'>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Native</mat-label>
            <input matInput placeholder="" [(ngModel)]='txtNative'>
        </mat-form-field>
        <div class='btn-div'>
            <button mat-button class="btn-back" (click)="back()">
                BACK
            </button>
            <button mat-button class="btn-save fr" (click)="addteam($event)">
                SAVE
            </button>
        </div>
    </div>

    <div *ngIf='isCropper' class="cropper-div" [ngStyle]="{'height': popupHeight}">
        <div class="cropper-sub-div">
            <button mat-button (click)='scalePlus()' class="scale-button plus-btn">
                <i class="material-icons">zoom_in</i>
            </button>
            <button mat-button (click)='scaleDown()' class="scale-button minus-btn">
                <i class="material-icons">zoom_out</i>
            </button>
            <button mat-button class="confirm-button" (click)='cropConfirm()'>Confirm</button>
            <img [src]="croppedImage" class='cropped-image' />
            <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" format="jpeg"
                [cropper]="cropper" [imageQuality]="imageQuality" [resizeToWidth]="resizeToWidth"
                [resizeToHeight]="resizeToHeight" [transform]="transform" (imageCropped)="imageCropped($event)"
                (imageLoaded)="imageLoaded()">
            </image-cropper>
        </div>
    </div>
    <div class="loader-div" *ngIf='isLoaderShow'>
        <mat-progress-spinner mode='indeterminate' diameter='50'>
        </mat-progress-spinner>
    </div>
</div>