table {width: 100%; min-width: 900px;}
.mat-form-field {font-size: 14px; width: 100%;}
.btnDelete{background-color: red;  float: left;  color: #f0f3f5; height: 20px; line-height: 21px; width: 65px; min-width: 65px;}
.editbtn {background-color: #3f51b5; margin-right: 10px; float: left; color: #f0f3f5; height: 20px; line-height: 21px; width: 65px; min-width: 65px;}
td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type, th.mat-header-cell:last-of-type {padding-left: 10px; padding-right: 10px; width: 141px;}
.mat-header-row {background-color: #3f51b5;}
.mat-header-cell{color: #fff; text-align: center; font-weight: 500;}
td.mat-cell, td.mat-footer-cell, th.mat-header-cell {padding-left: 10px; padding-right: 10px;}
.mat-cell, .mat-header-cell {border-right: 1px solid #ccc;}
 /* {padding-left: 10px; padding-right: 10px; } */
.btn{ background-color: green !important; right: 2px; float: right; top: 5px; color: #f0f3f5 !important;}
.imageSize{height: 40px; width: 40px; display: block; margin: 0 auto;}
.loader-div ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {stroke: #fff;}
.oAuto{overflow: auto;}
.searchtab {font-size: 14px; width: auto; height: 71px;
    top: 11px;  padding: 0px 20px; float: right; }
td.mat-cell.cdk-column-action, th.mat-header-cell.cdk-column-action {
    min-width: 140px;
}
.searchmat{
    display: flex !important;
    flex-direction: column !important;
}