<div class=" tableDivs w100 p15 fl">
    <button mat-raised-button  class="btn mb20" (click)='sponsorAdd()'>Add Sponsor</button>
    <div class=" w100  fl tableDiv ">

      <mat-form-field class="example-form-field searchmat"  >
        <mat-label>Search</mat-label>
        <mat-icon matSuffix style="float: left;">search</mat-icon>
        <input matInput (keyup)="applyFilter($event)" [(ngModel)]="value" placeholder="">
        <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="clearsearch()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
  
    <div class="mat-elevation-z8 oAuto tableDiv w100"  #scroller1>
      <table mat-table [dataSource]="dataSource" matSort>
  
        <!-- ID Column -->
        <ng-container matColumnDef="no" sticky>
          <th mat-header-cell *matHeaderCellDef mat-sort-header> No </th>
          <td mat-cell *matCellDef="let row" > {{row.no}} </td>
        </ng-container>
  
        <!-- Color Column -->
        <ng-container matColumnDef="image">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Image </th>
          <td mat-cell *matCellDef="let row"> 
            <img [src]="row.image" class='imageSize' onError="src = 'assets/image/defaultPlayer.png'"/>  
          </td>
        </ng-container>
  
        <!-- Name Column -->
        <ng-container matColumnDef="sponsortype">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Sponsor type </th>
          <td mat-cell *matCellDef="let row" > {{row.sponsortype}} </td>
        </ng-container>
  
        <!-- Color Column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
          <td mat-cell *matCellDef="let row">
            <button mat-raised-button color="primary" style="margin: 3px;" (click)='edit(row.action)'>Edit</button>
            <button mat-raised-button color="warn" (click)='delete(row.action)'>Delete</button>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
    <div class=" tableDiv ">
    <div class="loader-div" *ngIf='isLoaderShow'>
      <mat-progress-spinner mode='indeterminate' diameter='50' style="position: absolute;left: 50%;top: 50%; transform: translate(-50%,-50%);">
      </mat-progress-spinner>
    </div>
    </div>
  </div>
  